<app-title [title]="'Thank You'" [link]="'/home'" [page1]="'Home'" [page2]="'Thank You'" />
<section id="getintuch" class="position-relative  ">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-12 text-center">
                <h2 class="pt-0 headingprimary">Thank You</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>

                <div class="thanks-content">
                    <h3 class="mt-0 mx-5 mb-3">Congratulations. <br>
                        Your order was Completed Successfully.</h3>

                    <p class="mt-0 mx-5 mb-3"><strong> Hi Kapil,</strong></p>

                    <p class="mt-0 mx-5 mb-3"> We have received your order.<br> We will send you an Email and SMS
                        the moment your order items are
                        dispatched to your address.</p>

                    <p class="mt-0 mx-5 mb-3"> Your Order ID: <strong>9428575331</strong></p>
                </div>
            </div>

            <div class="col-sm-12 text-center mt-3 mb-5">
                <div class="m-auto btnwraper">

                    <button class="btn getintuchbtn btn-md text-uppercase " routerLink="/home">Go To Home</button>
                </div>
            </div>

        </div>

    </div>

</section>
<app-newsletter />