
.addresscardbodyBgClr {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}

.addresscardtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 5px 0;
  line-height: 25px;
}

.addresscarddescrption {
  /* margin: 0px 15px; */
  font-size: 14px;
  font-weight: 400;
  color: gray;
  line-height: 25px;
}

.addresscardsize {
  height: 263px;
}


.icon {
  object-fit: contain;
  width: 25px;
  height: 25px;
  filter: invert(1);
  margin: 20px 0px 0px 20px;
}


.adresicondiv {
  background-color: var(--main-theme-color);
  margin: 20px auto 0px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}


ul li {
  margin: 4px;
}

 ul li:first-child {
  background: #3b5999;
  border-radius: 50%;
}

  ul li:nth-child(2) {
  background: #1da1f3;
  border-radius: 50%;
}

  ul li:nth-child(3) {
  background: #de4b39;
  border-radius: 50%;
}

  ul li:nth-child(4) {
  background: #843ab5;
  border-radius: 50%;
}

  ul li:nth-child(5) {
  background: #3b9099;
  border-radius: 50%;
}

  ul li:nth-child(6) {
  background: #86993b;
  border-radius: 50%;
}
 ul li:nth-child(7) {
  background: #993b7e;
  border-radius: 50%;
}

 ul li:last-child {
  background: #3b4199;
  border-radius: 50%;
}




@media  (max-width:991.98px) {

  
.addresscardtitle {

  font-size: 15px;

}

.addresscarddescrption {
  margin: 0px;
  line-height: 26px !important;
 

}
    
}