
:root{
  --main-theme-color: #e54c2a ;
}

.header {
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
    transition: all 0.5s ease-in;
  }

  .menubtn{
    width: 30px;
    filter: invert();
  }

 .cartbtn svg {
    width: 15px;
    height: 15px;
    margin: 0px 10px 5px 0px;
  }
  .cartbtn {
    margin: 0px;
    color: white !important;
    border: none;
    font-size: 15px;
    transition: ease-in-out 0.5s color;

    &:hover,&:active {
      color: var(--main-theme-color) !important;
      background-color: transparent;
      border: none;
    }
  }
 
  .dropdownbtn svg {
    width: 15px;
    height: 15px;
    margin: 0px 10px 5px 0px;
  }
  .dropdownbtn {
    appearance: base-select;
    margin: 0px;
    color: white !important;
    border: none;
    font-size: 15px;
    transition: ease-in-out 0.5s color;
    &:hover,&:active {
      color: var(--main-theme-color) !important;
      background-color: transparent;
      border: none;
    }
  }

    .dropdown.show>.dropdownbtn{
       color: var(--main-theme-color) !important;
      background-color: transparent;
    }

  .dropdown-item{
     background-color:transparent;
          color: rgb(54, 54, 54) !important;
    &:hover,&:active {
      color: var(--main-theme-color) !important;
       /* background-color: rgb(239, 237, 237); */
      
    }
  }
  .dropdown-item.active{
    /* &:hover,&:active { */
      color: var(--main-theme-color) !important;
       /* background-color: rgb(239, 237, 237); */
      
    /* } */
  }




  .header .navbar-nav .nav-link {
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    font-family: "sans serf";
    transition: color 0.5s ease;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
  }

  .header .navbar-nav .nav-link:hover,
  .header .navbar-nav .nav-link:active,
  .header .navbar-nav .nav-link.active {
    color: var(--main-theme-color) !important;
  }

  .header .navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: var(--main-theme-color);
    right: 0;
    left: auto;
    transition: width 0.4s cubic-bezier(0.4,0,0.2,1);

  }

  .header .navbar-nav .nav-link:hover::after,
  .header .navbar-nav .nav-link:active::after,
  .header .navbar-nav .nav-link.active::after
   {
    width: 100%;
  }





.menubtn{
  width: 25px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--main-theme-color);
}

    
  

  @media (max-width:991.98px) {

   
     .nav-link{
    font-size: 12px !important;
  }
   }

     @media  (max-width:766.98px){

   
    
     .header {
    background-color: rgb(0, 0, 0);
    height: auto;
    position: relative !important;
  }
  
 

   }
   
   @media (max-width:576px){

  .pading{
    padding: 0px 15px;
  }
  .logo{
    margin: auto;
  }
  }
   @media (max-width:400px){

   .logo {
    max-width: 150px;
 
  }

    .pading{
    padding: 0px 0px;
  }


   }


   @media (min-width:576px) and (max-width:766.98px){

    .cartbtn svg {
    width: 25px;
    height: 25px;
    
  }
  .dropdownbtn svg {
    width: 25px;
    height: 25px;

  }


   }
   @media (min-width:767px) and (max-width:991.98px){

    .cartbtn svg {
    width: 20px;
    height: 20px;
    
  }
  .dropdownbtn svg {
    width: 20px;
    height: 20px;

  }
 

   }


 