.header {
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
    transition: all 0.5s ease-in;
  }

  .menubtn{
    width: 30px;
    filter: invert();
  }

 .cartbtn svg {
    width: 15px;
    height: 15px;
    margin: 0px 10px 5px 0px;
  }
  .cartbtn {
    margin: 0px;
    color: white !important;
    border: none;
    font-size: 15px;
    transition: ease-in-out 0.5s color;
  }
  .cartbtn:hover {
    color:var(--main-theme-color) !important;
    background-color: transparent;
    border: none;
  }
  .cartbtn:active {
    color: var(--main-theme-color) !important;
    background-color: transparent;
    border: none;
  }
  .dropdownbtn svg {
    width: 15px;
    height: 15px;
    margin: 0px 10px 5px 0px;
  }
  .dropdownbtn {
    margin: 0px;
    color: white !important;
    border: none;
    font-size: 15px;
    transition: ease-in-out 0.5s color;
  }
  .dropdownbtn:hover {
    color: var(--main-theme-color) !important;
    background-color: transparent;
    border: none;
  }
  .dropdownbtn:active {
    color:var(--main-theme-color) !important;
    background-color: transparent;
    border: none;
  }
  .dropdown-item:hover {
    color: var(--main-theme-color) !important;
  }
  .dropdown-item:active {
    background-color: #e43c0914 !important;
  }
  .nav-underline .nav-link.active, .nav-underline .show > .nav-link {

  border-bottom-color: var(--main-theme-color);
}
 .nav-link{

    font-size: 14px !important;

  }
/* .active > .nav-link {
    color: white !important;
    background-color: #d2481e !important;
  } */
  /* .active{
    border-bottom: 1px solid var(--main-theme-color) !important;
  } */

.menubtn{
  width: 25px;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--main-theme-color);
}

    
  

  @media (max-width:991.98px) {

   
     .nav-link{
    font-size: 12px !important;
  }
   }

     @media  (max-width:766.98px){

   
    
     .header {
    background-color: rgb(0, 0, 0);
    height: auto;
    position: relative !important;
  }
  
 

   }
   
   @media (max-width:576px){

  .pading{
    padding: 0px 15px;
  }
  .logo{
    margin: auto;
  }
  }
   @media (max-width:400px){

   .logo {
    max-width: 150px;
 
  }

    .pading{
    padding: 0px 0px;
  }


   }


   @media (min-width:576px) and (max-width:766.98px){

    .cartbtn svg {
    width: 25px;
    height: 25px;
    
  }
  .dropdownbtn svg {
    width: 25px;
    height: 25px;

  }


   }
   @media (min-width:767px) and (max-width:991.98px){

    .cartbtn svg {
    width: 20px;
    height: 20px;
    
  }
  .dropdownbtn svg {
    width: 20px;
    height: 20px;

  }
 

   }


 