<app-title [title]="'Register'" [link]="'/home'"  [page1]="'Home'" [page2]="'Register'" />

<section id="login" class=" ourblogsimgright ">
    <div class="ourblogsimgleft">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Create an account</h2>
                  

                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Sign up easily and enjoy personalized experiences. Manage reservations, track your orders, receive exclusive rewards, and get updates on special offers designed just for our valued guests.
                    </p>

                </div>

                <div class="row  justify-content-center">

                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 my-3">

                        <div class="loginnow">
                           
                            <h3 class="headingsecondary">Register</h3>
                            <p class="px-3">Do You have an account? So  <a class="text-decoration-none colorprimary" routerLink="/login">login</a> And starts less than a minute </p>
                            <form action="/submit" method="post" class="row">

                                <div class="col-12 pb-1">
        
                                    <div class="input-group mb-3 position-relative">
                                        <span class="inputicon"><img src="/imgs/user(1).png" alt=""
                                                loading="lazy"></span>
                                        <input type="text" class="form-control text-start input" id="nameuser" placeholder="NAME"
                                            required>
                                    </div>
        
                                </div>
                         
                                <div class="col-12 pb-1">
        
                                    <div class="input-group mb-3 position-relative">
                                        <span class="inputicon"><img src="/imgs/email.png" alt=""
                                                loading="lazy"></span>
                                        <input type="email" class="form-control text-start input" id="email" placeholder="EMAIL"
                                            required>
                                    </div>
        
                                </div>
        
                                <div class="col-12 pb-1">
        
                                    <div class="input-group mb-3 position-relative">
                                        <span class="inputicon"><img src="/imgs/lock.png" alt=""
                                                loading="lazy"></span>
                                        <input type="password" class="form-control text-start input" id="password" placeholder="PASSWORD"
                                            required>
                                    </div>
        
                                </div>
        
                                <div class="col-12 pb-1">
        
                                    <div class="input-group mb-3 position-relative">
                                        <span class="inputicon"><img src="/imgs/lock.png" alt=""
                                                loading="lazy"></span>
                                        <input type="PASSWORD" class="form-control text-start input" id="PASSWORD" placeholder="REPEAT-PASSWORD"
                                            required>
                                    </div>
        
                                </div>
        
                                <div class="col-12 pb-1 px-4">
        
                                    <label class="colorgray">
                                    <input type="checkbox" class="me-1 ">
                                   <span> By signing up I agree with
                                   <a href="" class="text-decoration-none colorprimary"> terms & conditions.</a></span>
                                </label>
                                 
        
                                </div>
        
        
                                <div class="col-12 text-center pt-3 px-4">
                                    <button class="btn getintuchbtn btn-md " type="submit">SIGNUP</button>
                                </div>
        
                            </form>
                      
                            <div class="mt-4 d-flex gap-2 justify-content-center">
                                <p class="colorgray m-0 p-0">------</p>
                                <p class="colorgray text-center"> OR </p>
                                <p class="colorgray m-0 p-0">------</p>
                             </div>

                            <div class="links d-flex justify-content-center gap-5 ">
                               
                                    <a class="text-decoration-none " href="">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="40px" width="40px" xmlns="http://www.w3.org/2000/svg"><path d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"></path></svg>
                                       </a>
                                   <a class="text-decoration-none" href="">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="40px" width="40px" xmlns="http://www.w3.org/2000/svg"><path d="M256,8C119.1,8,8,119.1,8,256S119.1,504,256,504,504,392.9,504,256,392.9,8,256,8ZM185.3,380a124,124,0,0,1,0-248c31.3,0,60.1,11,83,32.3l-33.6,32.6c-13.2-12.9-31.3-19.1-49.4-19.1-42.9,0-77.2,35.5-77.2,78.1S142.3,334,185.3,334c32.6,0,64.9-19.1,70.1-53.3H185.3V238.1H302.2a109.2,109.2,0,0,1,1.9,20.7c0,70.8-47.5,121.2-118.8,121.2ZM415.5,273.8v35.5H380V273.8H344.5V238.3H380V202.8h35.5v35.5h35.2v35.5Z"></path></svg>
                                       </a>
                                    <a class="text-decoration-none" href="">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="40px" width="40px" xmlns="http://www.w3.org/2000/svg"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm215.3 337.7c.3 4.7.3 9.6.3 14.4 0 146.8-111.8 315.9-316.1 315.9-63 0-121.4-18.3-170.6-49.8 9 1 17.6 1.4 26.8 1.4 52 0 99.8-17.6 137.9-47.4-48.8-1-89.8-33-103.8-77 17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35 25.1-4.7 49.1-14.1 70.5-26.7-8.3 25.7-25.7 47.4-48.8 61.1 22.4-2.4 44-8.6 64-17.3-15.1 22.2-34 41.9-55.7 57.6z"></path></svg>
                                       </a>
                              
                           
                           
                             </div>
                        </div>
                        
                    </div>
                 
                </div>

            </div>

        </div>
    </div>
   

</section>
<app-newsletter/>
<app-testimonal/>