<app-title [title]="'Our Blog'" [link]="'/home'" [page1]="'Home'" [page2]="'Our Blog'" />
<section id="blogs" class=" ourblogsimgright ">
    <div class="ourblogsimgleft">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Our Blog</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?
                    </p>

                </div>

                <div class="row  justify-content-center">

                    <div class="col-12 ">
                        <div class="row pb-5">
                            @for (card of blogdata; track $index) {
                            <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [carddata]="card" />

                            </div>
                            }

                            <!-- <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [blogdata]="{ id:1,imgurl: '/imgs/blog img.jpg',
                                                             title: 'Blog Title Here',
                                                             smalldescrption: 'May 15, 2017 / By admin / 3 Comments',
                                                             descrption: 'Lorem ipsum dolor sit amet, consectetur
                                                                 adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                                                 Nullam ultricies eu turpis at accumsan...',
                                                             link: ''}" />
                            </div>

                            <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [blogdata]="{ id:1,imgurl: '/imgs/blog img.jpg',
                                                             title: 'Blog Title Here',
                                                             smalldescrption: 'May 15, 2017 / By admin / 3 Comments',
                                                             descrption: 'Lorem ipsum dolor sit amet, consectetur
                                                                 adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                                                 Nullam ultricies eu turpis at accumsan...',
                                                             link: ''}" />
                            </div>

                            <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [blogdata]="{ id:1,imgurl: '/imgs/blog img.jpg',
                                                             title: 'Blog Title Here',
                                                             smalldescrption: 'May 15, 2017 / By admin / 3 Comments',
                                                             descrption: 'Lorem ipsum dolor sit amet, consectetur
                                                                 adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                                                 Nullam ultricies eu turpis at accumsan...',
                                                             link: ''}" />
                            </div>

                            <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [blogdata]="{ id:1,imgurl: '/imgs/blog img.jpg',
                                                             title: 'Blog Title Here',
                                                             smalldescrption: 'May 15, 2017 / By admin / 3 Comments',
                                                             descrption: 'Lorem ipsum dolor sit amet, consectetur
                                                                 adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                                                 Nullam ultricies eu turpis at accumsan...',
                                                             link: ''}" />
                            </div>

                            <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [blogdata]="{ id:1,imgurl: '/imgs/blog img.jpg',
                                                             title: 'Blog Title Here',
                                                             smalldescrption: 'May 15, 2017 / By admin / 3 Comments',
                                                             descrption: 'Lorem ipsum dolor sit amet, consectetur
                                                                 adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                                                 Nullam ultricies eu turpis at accumsan...',
                                                             link: ''}" />
                            </div> -->
                        </div>
                    </div>



                    <div class="col-12  py-3 text-center d-flex justify-content-center">
                        <pagination [totalItems]="77" [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;"
                            firstText="&laquo;" lastText="&raquo;">

                        </pagination>

                    </div>
                </div>


            </div>
        </div>
    </div>

</section>
<app-newsletter />
<app-testimonal />