<app-title [title]="'Our Blog'" [link]="'/home'" [page1]="'Home'" [page2]="'Our Blog'" />
<section id="blogs" class=" ourblogsimgright ">
    <div class="ourblogsimgleft">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Our Blog</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Welcome to our blog, where food, flavors, and inspiration come together. Discover tips, stories, and ideas designed to spark curiosity, share knowledge, and bring extra flavor to your day.
                    </p>

                </div>

                <div class="row  justify-content-center">

                    <div class="col-12 ">
                        <div class="row pb-5">
                            @for (card of blogdata | paginate: { itemsPerPage: itemsPerPage, currentPage: page }; track
                            $index) {
                            <div class="col-12 col-sm-4 my-3 pt-2">
                                <app-card [cardType]="'blog'" [carddata]="card" />

                            </div>
                            }



                        </div>



                        <div class="col-12  py-3 text-center d-flex justify-content-center">
                            <pagination-controls (pageChange)="page = $event" previousLabel="" nextLabel="">>

                            </pagination-controls>

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
<app-newsletter />
<app-testimonal />