<!-- about top img -->

<app-title [title]="'About Us'" [link]="'/home'" [page1]="'Home'" [page2]="'About Us'" />




<!-- about intro -->

<section id="aboutdetails">
    <div class="container">
        <div class="row ">
            <div class="col-12 col-lg-6">

                <h3 class="headingprimary">about our restaurant food & drinkes</h3>
                 <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>
                <!-- <img src="/imgs/divider-5318234_1920.png" width="50" alt=""> -->
                <p class="description text-start m-0">At our restaurant, every dish is crafted with passion. We bring together fresh ingredients, authentic flavors, and refreshing drinks to create meals that satisfy both your hunger and your soul.</p>
                <p class="description text-start m-0">From hearty classics to innovative creations, our menu celebrates the art of cooking. We carefully select seasonal produce and blend it with bold spices to serve food that is both delicious and wholesome. Pair your meal with our hand-crafted drinks, whether you prefer a revitalizing juice, a comforting coffee, or a refreshing mocktail. Each sip and bite is designed to complement the other, making your dining experience memorable. With every plate, we promise freshness, flavor, and a touch of love that keeps our guests coming back for more.</p>
            </div>
            <div class="col-12 col-lg-6 py-lg-5 my-lg-5">
                <carousel [noPause]="false" [isAnimated]="true" [showIndicators]="false" >
                    <slide >
                      <img src="/imgs/Untitled.jpg" alt="First slide" class="d-block w-100">
                     
                    </slide>
                    <slide>
                      <img src="/imgs/bg1.jpg" alt="Second slide" class="d-block w-100" >
                     
                    </slide>
                    <slide>
                      <img src="/imgs/bg2.jpg" alt="Third slide" class="d-block w-100">
                     
                    </slide>
                  </carousel>

            </div>
        </div>

    </div>
</section>

<!-- why choose us  -->

<section id="whyus">
    <div class="container">
        <div class="row pb-5 justify-content-center">
            <div class="col-sm-12 text-center">
                <h2 class="pt-5 headings">Why Choose Us</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>
                <p class="mt-0 description mb-3">We serve food made with fresh ingredients, rich flavors, and genuine care. Our friendly service, cozy atmosphere, and consistent quality ensure every visit is satisfying, memorable, and worth repeating.</p>
            </div>
            <div class="col-12">
                <div class="choseusimg py-3">
                    <img class="img-fluid" src="/imgs/Capture.PNG" alt="">
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="icon pt-md-5 my-3">
                    <img src="/imgs/chef.png" alt="">
                    <h3 class="headingsecondary my-3">best chef</h3>
                    <p class="description mx-2">Our chef combines passion, creativity, and expertise, crafting unforgettable dishes that balance authentic flavors with modern presentation.</p>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="icon pt-md-5 my-3">
                    <img src="/imgs/lounge.png" alt="">
                    <h3 class="headingsecondary my-3">Tables</h3>
                    <p class="description mx-2">With spacious seating for every occasion, our restaurant offers comfort, elegance, and atmosphere for memorable dining experiences.</p>
                </div>
            </div>
            <div class="col-12 col-sm-4 ">
                <div class="icon pt-md-5 my-3">
                    <img src="/imgs/man-throwing-paper-in-recycle-container.png" alt="">
                    <h3 class="headingsecondary my-3">Clean Environment</h3>
                    <p class="description mx-2">We maintain the highest hygiene standards, ensuring a spotless, welcoming atmosphere where guests enjoy safe, healthy, and comfortable dining. </p>
                </div>
            </div>
        </div>
    </div>


</section>


<!--  chef -->


<section id="ourchefs" class="position-relative pb-5 ">
    <div class="container">
        <div class="row  justify-content-center">

            <div class="col-sm-12 text-center">
                <h2 class=" headingprimary">Our Chefs</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="">
                </div>
                <p class="mt-0 description mb-3 pb-3">Meet the talented chefs behind our kitchen. With skill, creativity, and passion, they craft dishes that combine authentic flavors, fresh ingredients, and unique presentation to delight every guest.</p>
            </div>

                 @for (card of chefdata; track $index) {
                        <div class="col-12 col-sm-6 col-lg-3 my-3">
                    <app-card [cardType]="'chef'" [carddata]="card" />

                </div>
                        }

            <!-- <div class="col-12 col-sm-6 col-lg-3 my-3">
                <app-card  [cardType]="'chef'"  [chefdata]="{
                   id:1, imgurl: '/imgs/chef1.jpg', 
                    name: 'Chef John Doe', 
                    links: ['a', 'a','a','a'], 
                    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus? Optio eveniet libero rerum nobis vitae, '
                  }"/>
          
         
            </div>

            <div class="col-12 col-sm-6 col-lg-3 my-3">
                <app-card [cardType]="'chef'"  [chefdata]="{
                   id:1, imgurl: '/imgs/chef1.jpg', 
                    name: 'Chef John Doe', 
                    links: ['a', 'a','a','a'], 
                    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus? Optio eveniet libero rerum nobis vitae, '
                  }"/>
          
         
            </div>

            <div class="col-12 col-sm-6 col-lg-3 my-3">
                <app-card [cardType]="'chef'"  [chefdata]="{
                   id:1, imgurl: '/imgs/chef1.jpg', 
                    name: 'Chef John Doe', 
                    links: ['a', 'a','a','a'], 
                    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, delectus? Optio eveniet libero rerum nobis vitae, '
                  }"/>
          
         
            </div> -->
            
        </div>
    </div>
</section>



<app-newsletter />