<section id="headingimg">
    <div class="container">
        <div class=" headingimgbg">
            <h3 class="fs-1 contactheading m-3">{{title}}</h3>
            <ul class="list-unstyled ">
                <li class="list-inline-item fs-5 "><a class="text-decoration-none text-uppercase" [routerLink]="link">{{page1}}</a></li>
                <li class="list-inline-item fs-5"><img src="/imgs/greater-than.png"  alt=""></li>
                <li class="list-inline-item fs-5"><a class="text-decoration-none text-uppercase" routerLink="">{{page2}}</a></li>
              
            </ul>

        </div>
    </div>
</section>
