<section id="testimonal">
    <div class="container">
        <div class="testimonalinner">
            <div class="row cspd">
                <div class="col-12">


                    <h4 class="">What Our Customers Say</h4>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?
                    </p>
                    <span class="mt-0 ms-5 me-5 mb-3 text-primary customclr1">Lorem ipsum</span>


                </div>
            </div>
        </div>

    </div>
</section>
