<app-title [title]="'page 404'" [link]="'/home'" [page1]="'Home'" [page2]="'page 404'" />
<section id="getintuch" class="position-relative  ">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-12 text-center">
                <h2 class="pt-0 headings">Page not found!</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>
         
           
                <h2 class="mt-0 ms-5 me-5 mb-3 title">404. </h2>
                <h3 class="mt-0 ms-5 me-5 mb-3"> Oops! Looks like something going wrong</h3>

                <p class="mt-0 ms-5 me-5 mb-3 description">  We can’t seem to find the page you’re looking for <br> make sure that you have typed the currect URL</p>

               
            </div>

            <div class="col-sm-2 text-center">
                        <button class="btn getintuchbtn btn-md text-uppercase ">Go To Home</button>
                    </div>
 
         </div>

    </div>

</section>
<app-newsletter />