
<section id="newsletter" class="py-3">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-3">
                <p class="text-uppercase text-center newsletter">newsletter</p>
            </div>

            <div class="col-5">
                <div class="border-start border-light border-1 py-3">

                    <p class="px-5 my-1 text-start newsletterdes">Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Nam iaculis lorem augue, at quam finibus eget. </p>
                </div>
            </div>

            <div class="col-4">
                <form action="">
                    <div class="custommrgin">

                        <input type="text" placeholder="Email">
                        <a href="" class="btn btn-outline-light">Send</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

