
<app-title [title]="'Contact Us'" [link]="'/home'"  [page1]="'Home'" [page2]="'Contact Us'" />

<!-- getintuch -->

<section id="getintuch" class="position-relative  ">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-12 text-center">
                <h2 class="pt-0 headings">Get in Touch</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>
                <p class="mt-0  mb-3 description  colorgray">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                    corrupti dolore ut assumenda vero?
                </p>

            </div>

            <div class="col-12 col-md-6 py-3">
                <form action="/submit" method="post" class="row">

                    <div class="col-12 pb-1 ">

                        <div class="input-group mb-3 position-relative">
                            <span class="inputicon"><img src="/imgs/user(1).png" alt="" loading="lazy"></span>
                            <input type="text" class="form-control text-start input" id="FullName" placeholder="NAME"
                                required>

                        </div>

                    </div>

                    <div class="col-12 pb-1">

                        <div class="input-group mb-3 position-relative">
                            <span class="inputicon"><img src="/imgs/email.png" alt="" loading="lazy"></span>
                            <input type="email" class="form-control text-start input" id="email" placeholder="EMAIL" required>
                        </div>

                    </div>

                    <div class="col-12 pb-1">

                        <div class="input-group mb-3 position-relative">
                            <span class="inputicon"><img src="/imgs/telephone.png" alt=""
                                    loading="lazy"></span>
                            <input type="phone" class="form-control text-start input" id="contactNo" placeholder="NUMBER"
                                required>
                        </div>

                    </div>

                    <div class="col-12 pb-1">

                        <div class="input-group mb-3 position-relative">
                            <span class="inputicon"><img src="/imgs/chat.png" alt="" loading="lazy"></span>
                            <textarea placeholder="Message" class="form-control text-start input" id="textarea" rows="5"
                                required></textarea>

                        </div>

                    </div>



                    <div class="col-12 px-4 text-center ">
                        <button class="btn getintuchbtn btn-md " type="submit">SEND MESSAGE</button>
                    </div>

                </form>
            </div>

            <div class="col-12 col-md-6 py-3">
                <!-- <div class="map"> -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d106389.97557771104!2d73.01814784999999!3d33.5615146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df948974419acb%3A0x984357e1632d30f!2sRawalpindi%2C%20Punjab!5e0!3m2!1sen!2s!4v1730050740568!5m2!1sen!2s"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <!-- </div> -->
            </div>

        </div>
    </div>

</section>


<!-- address -->

<section id="address">
    <div class="container">
        <div class="row">
            <div class="col-12">
            <app-adresscard [type]="'simple'" [adressdata]="{
                    iconurl:'/imgs/pin.png',
                    title:'ADDRESS',
                    carddata:'20, floor, Restaurant Food & Drinks, Nr, Queenslad Victoria Building, USA' }"/>
            </div>
            <div class="col-12">
                 <app-adresscard [type]="'simple'" [adressdata]="{
                    iconurl:'/imgs/telephone.png',
                    title:'PHONE NO',
                    carddata:'S1800 000 0000,<br> +88 123 1234 1234' }"/>
             
            </div>
            <div class="col-12">
                  <app-adresscard [type]="'simple'" [adressdata]="{
                    iconurl:'/imgs/email.png',
                    title:'EMAIL',
                    carddata:'info&#64;yourdomainname.com </br> contact&#64;yourdomainname.com' }"/>
                
            </div>
            <div class="col-12">
                <div class="card addresscardsize align-items-center justify-content-center">

                    <div class="card-body  p-3 ">

                        <app-adresscard [type]="'social'" />
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>