<section id="testimonal">
    <div class="container">
        <div class="testimonalinner">
            <div class="row">
                <div class="col-12">


                    <h4 class="headings text-light">What Our Customers Say</h4>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>

                    <owl-carousel-o id="bgSlideShow" [options]="testimonalcarosul">
                        <ng-template carouselSlide>
                            <div class="px-3 pb-4 px-md-5 mx-md-5 pb-md-5">
                                <p class="mb-2 px-md-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                                    doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga
                                    temporibus, sit,
                                    corrupti dolore ut assumenda vero?
                                </p>
                                <span class="mb-3 colorprimary">Lorem ipsum</span>
                            </div>


                        </ng-template>




                    </owl-carousel-o>



                </div>
            </div>
        </div>

    </div>
</section>