<app-title [title]="'Reservation'" [link]="'/home'"  [page1]="'Home'" [page2]="'Reservation'" />

<section id="getintuch" class="position-relative  ">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-12 text-center">
                <h2 class="pt-0 headings">Book Your Table</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>
                <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                    corrupti dolore ut assumenda vero?
                </p>

            </div>

            <div class="row  justify-content-center">

                <div class="col-12 ">
                    <form class="row">

                        <div class="col-4 g-2">

                            <div class="input-group mb-3 position-relative">
                                <span class="Reservationinputicon"><img src="/imgs/user(1).png" alt=""
                                        loading="lazy"></span>
                                <input type="text" class="form-control text-start" id="FullName" placeholder="NAME"
                                   required>

                            </div>

                        </div>

                        <div class="col-4 g-2">

                            <div class="input-group mb-3 position-relative">
                                <span class="Reservationinputicon"><img src="/imgs/email.png" alt=""
                                        loading="lazy"></span>
                                <input type="email" class="form-control text-start" id="email" placeholder="EMAIL"
                                    required>
                            </div>

                        </div>

                        <div class="col-4 g-2">

                            <div class="input-group mb-3 position-relative">
                                <span class="Reservationinputicon"><img src="/imgs/telephone.png" alt=""
                                        loading="lazy"></span>
                                <input type="phone" class="form-control text-start" id="contactNo" placeholder="NUMBER"
                                    required>
                            </div>

                        </div>

                        <div class="col-4 g-2">

                            <div class="input-group mb-3 position-relative">
                                <span class="Reservationinputicon"><img src="/imgs/calendar.png" alt=""
                                        loading="lazy"></span>
                                <input type="text" placeholder="DATE" class="form-control text-start" id="date"
                                    required>

                            </div>

                        </div>

                        <div class="col-4 g-2">

                            <div class="input-group mb-3 position-relative">
                                <span class="Reservationinputicon"><img src="/imgs/clock.png" alt=""
                                        loading="lazy"></span>
                                <input type="datetime" class="form-control text-start" id="time" placeholder="TIME"
                                   required>
                            </div>

                        </div>

                        <div class="col-4 g-2">
                            <div class="input-group mb-3 position-relative">
                                <span class="Reservationinputicon"><img src="/imgs/group.png" alt="" loading="lazy">
                                </span>
                                <input type="number" class="form-control text-start" id="noofpersons"
                                    placeholder="NO OF PERSONS" required>
                            </div>

                        </div>

                        <div class="col-12 m-4 text-center pb-5">
                            <button class="btn Reservationbtn btn-md " type="submit">BOOK NOW </button>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>

</section>

<app-newsletter/>
<app-testimonal/>