<app-title [title]="'Food Menu'" [link]="'/home'" [page1]="'Home'" [page2]="'Food Menu'" />


<section>

    <div id="" class="position-relative bg-secondary-subtle g-0">

        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Breakfast Menu</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>

                <div class="row  flex-wrap pb-5">

                    @for (card of Breakfastdata; track $index) {
                        <div class="col-12 col-sm-6  my-3">
                          <app-card [cardType]="'menu'" [carddata]="card"></app-card>
                        </div>
                        }



                </div>
            
            </div>
        </div> 

    </div>

    <div id="" class="position-relative bg-light g-0">

        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Lunch Menu</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>

                <div class="row flex-wrap pb-5">

                  @for (card of Lunchdata; track $index) {
                        <div class="col-12 col-sm-6  my-3">
                          <app-card [cardType]="'menu'" [carddata]="card"></app-card>
                        </div>
                        }

                </div>
              
            </div>
        </div>

    </div>

    <div id="" class="position-relative bg-secondary-subtle g-0">
      
        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Dinner Menu</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>

                <div class="row flex-wrap pb-5">

                     @for (card of Dinnerdata; track $index) {
                        <div class="col-12 col-sm-6  my-3">
                          <app-card [cardType]="'menu'" [carddata]="card"></app-card>
                        </div>
                        }


                </div>
            
            </div>
        </div>

    </div>


    <div id="" class="position-relative bg-light g-0">
       
        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Drinks Menu</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>

                <div class="row flex-wrap pb-5">

                   @for (card of Drinksdata; track $index) {
                        <div class="col-12 col-sm-6  my-3">
                          <app-card [cardType]="'menu'" [carddata]="card"></app-card>
                        </div>
                        }

                </div>
               
            </div>
        </div>

    </div>


    <div id="" class="position-relative bg-secondary-subtle g-0">
      
        <div class="container">

            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Other Menu</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>

                <div class="row flex-wrap pb-5">

                @for (card of Otherdata; track $index) {
                        <div class="col-12 col-sm-6  my-3">
                          <app-card [cardType]="'menu'" [carddata]="card"></app-card>
                        </div>
                        }

                </div>
               
            </div>
        </div>

    </div>

</section>

<app-booktable />
<app-newsletter />
<app-testimonal />