/* You can add global styles to this file, and also import other style files */
:root {
  --main-theme-color: #e54c2a;
}

body {
  font-family: "Lato", sans-serif;
}

.bgclrprimary {
  background-color: var(--main-theme-color) !important;
}
.colorprimary {
  color: var(--main-theme-color) !important;
}
.borderclrprimary {
  border-color: var(--main-theme-color) !important;
}

.colorgray {
  color: gray;
}

.logo {
  max-width: 200px;
  height: auto;
  transition: all 0.5s ease;
}
.input {
  text-transform: uppercase;
  height: 45px;
  margin: 5px 15px !important;
  /* padding: 0 0 0 20px; */
  position: relative !important;
  z-index: 1;
  border-radius: 5px !important;
  background: rgba(245, 245, 245, 0.5);
  &:focus {
    border: 1px solid var(--main-theme-color) !important;
    box-shadow: none !important;
    background: rgba(245, 245, 245, 0);
  }
  &.white::placeholder {
    color: #ffffff75 !important;
  }
  &.dark::placeholder {
    color: #ffffff5e !important;
  }
}
.bginput {
  background-color: rgba(0, 0, 0, 0.2);
}
.inputicon img {
  position: absolute;
  right: 40px;
  top: 17px;
  width: 20px;
  z-index: 6;
}

.inverted {
  filter: invert(1);
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: #757575;
  line-height: 26px;
  margin: 0 10% 24px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.loginnow {
  background: #f5f5f5;
  padding: 50px;
  border: 1px solid #e5e5e5;
  height: 690px;
  margin-bottom: 50px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.links a:nth-child(1) {
  color: #1d5add !important;
}
.links a:nth-child(2) {
  color: #dd5a1d !important;
}
.links a:nth-child(3) {
  color: #1da7dd !important;
}
/* -------------------------------- */
/* -----------index page css  start -----------   */

#main-nav .nav-item a:hover {
  color: var(--main-theme-color) !important;
}

.dividerimg img {
  width: 130px;
}

.headingprimary {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  margin: 50px 0 10px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.9);
}
.headingsecondary{
    font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 30px;

}
.sociallinks {
  color: #fff;
  height: 35px;
  width: 35px;
  display: block;
  line-height: 13px;
  font-size: 22px;
  padding: 8px;
  background: rgba(78, 77, 78, 0.358);
  border-radius: 50%;
}

.socialicons {
  width: 100%;
  height: 100%;
  filter: invert(1);
}

/* .row {
     margin-left: -15px;
      margin-right: -15px; 
  } */

/* intro  section*/

.introbtn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  height: 57px;
  font-size: 24px;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;

  &:hover {
    background-color: var(--main-theme-color);
    color: white;
    border: 1px solid var(--main-theme-color);
  }
}




.getintuchbtn {
  background-color: var(--main-theme-color);
  color: white;
  padding: 6px;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;
  border: 1px solid var(--main-theme-color);
  &:hover {
    background-color: white;
    color: var(--main-theme-color);
    border: 1px solid var(--main-theme-color);
  }
}

/* order section*/

#order {
  height: 500px;
  background: #f6f6f6 url("/imgs/order-bg-bottom.jpg") no-repeat center bottom;
}
#order input {
  border-radius: 5px;
  padding: 10px;
  border: 1px solid rgba(63, 70, 70, 0.34);
  outline: none;
}
#order input:focus {
  border: 1px solid orange !important;
}
.Ordersearchbtn {
  background-color: var(--main-theme-color);
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 100px;
  font-size: 17px;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;
  border: 1px solid var(--main-theme-color);
}
.Ordersearchbtn:hover {
  background: #ffffff;
  color: var(--main-theme-color);
  border: 1px solid var(--main-theme-color);
}

.imgbg {
  width: 100%;
  height: 680px;
  display: block;
  object-fit: cover;
}

.slidermenu button {
  background: #ffffff;
  color: var(--main-theme-color);
  border: 1px solid var(--main-theme-color);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  height: 57px;
  font-size: 24px;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;
}
.slidermenu {
  position: absolute;
  right: 0;
  left: 0;
  top: auto;
  bottom: 15%;
  text-align: center;
}

.slidermenu img {
  width: auto;
  height: 100px;
}

#bgSlideShow .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.slidermenu p {
  font-size: 16px;
  color: #fff;
  margin: 0 10% 25px;
  line-height: 26px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.slideheader {
  font-size: 50px;
  color: #fff;
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.orderingfoodicons {
  margin: 0 33px 0 37px !important;
}

/* popular dishes section*/

.card-img-top {
  object-fit: fill;
  width: 100%;
  height: 180px;
}
.cardbodyBgClr {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.cardtitle {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
}
.carddescrption {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.cardprice {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
}
.cardsize {
  width: 263px;
  height: auto;
}

/* our menu section*/

.menu-category {
  display: none;
}

.menu-category:target {
  display: flex;
  flex-wrap: wrap;
}

.hilight {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
}
.nav-pills .nav-link {
  color: rgb(29, 28, 28) !important;
}
.nav-pills .nav-link:hover {
  background-color: var(--main-theme-color) !important;
  color: white !important;
}
.nav-pills .nav-link.active {
  background-color: var(--main-theme-color) !important;
  color: white !important;
}

.ourMenuimgright {
  background: url("/imgs/bg-big-right.png") no-repeat right bottom;
}
.ourMenuimgleft {
  background: url("/imgs/bg-big-left.png") no-repeat left bottom;
}

.ourmenucardimg {
  object-fit: contain;
  width: 150px;
  height: 180px;
  padding-right: 10px;
}

.ourmenucard {
  width: 545px;
  height: auto;
  padding: 0px 13px 0px 16px;
}
.ourmenuPrice {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.menucardtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-theme-color);
  line-height: 20px;
}

.menudescrption {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 400;
  color: #757575;
  padding-right: 30px;
}

.menucarddescrption {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  margin: 0;
  line-height: 20px;
}

.menuViewbtn {
  background: #ffffff;
  color: var(--main-theme-color);
  border: 1px solid var(--main-theme-color);
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  height: 57px;
  font-size: 24px;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;
}
.menuViewbtn:hover {
  background-color: var(--main-theme-color);
  color: white;
  border: 1px solid var(--main-theme-color);
}
.hidescrolbar {
  overflow-x: scroll;
  scrollbar-width: none;
}

.hidescrolbar::-webkit-scrollbar {
  display: none;
}

/* ourblogs section*/

.ourblogsimgright {
  background: url("/imgs/blogbg-2.png") no-repeat right top;
}
.ourblogsimgleft {
  background: url("/imgs/blogbg-1.png") no-repeat left bottom;
}

.ourblogdescrption {
  font-size: 14px;
  font-weight: 600;
}

.ourblogsbtn {
  background-color: white;
  color: var(--main-theme-color);
  padding: 8px;
  border-radius: 5px;
  width: 146px;
  height: 46px;
  font-weight: 600;
  font-size: 18px;
  font-family: "sans serf";
  transition: color 0.5s ease, background-color 0.5s ease;
  border: 1px solid var(--main-theme-color);
}

.ourblogsbtn:hover {
  background-color: var(--main-theme-color);
  color: white;
}

/* newsletter section*/

.hide {
  display: none;
}

.tab-content > .active {
  display: flex !important;
}

.card {
  transition: ease-in-out 0.3s all;
}
.card:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 576px) {
  .container {
    max-width: 600px; /* Custom width for small devices */
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 750px; /* Custom width for medium devices */
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px; /* Custom width for large devices */
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; /* Custom width for extra-large devices */
  }
}
/* @media (min-width: 1400px) {
      .container {
          max-width: 1300px; 
         }
  } */

/* -----------------index page css end----------------   */

/* ---------------top bg image of about contact ourblog our menu reservatio pages css  -----------
      start   */

/* top bg iamge of about contact ourblog our menu reservatio page css  
      end   */

/* testimonal section css start */

/* testimonal section css end */

/* aboutdetails age css start here */

.aboutimg {
  padding: 45px 10px;
}

#aboutdetails h3 {
  font-family: "Great Vibes", cursive;
  font-size: 36px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  margin: 50px 0 10px;
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.9);
}

#aboutdetails p {
  font-size: 15px;
  font-weight: 400;
  color: #757575;

  line-height: 26px;
  margin: 0 0 24px 0;
  font-family: "Lato", sans-serif;
}

.choseusimg img {
  border: 1px solid rgba(0, 0, 0, 0.29);
  padding: 4px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.icon img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.icon h3 {
  font-size: 23px;
  font-weight: 600;
  color: #535353;
  margin: 15px 0 15px;
}

.icon p {
  font-size: 15px;
  font-weight: 400;
  color: #757575;
  margin: 0;
  line-height: 26px;
  font-family: "Lato", sans-serif;
}

/* Our Chefs section*/
#ourchefs {
  background-color: #e7e5e5;
}

#OurBlog {
  background-color: #f5f5f5;
}

/* pigination */
.page-link {
  border-radius: 8px;
  background-color: #fdfafa;
  color: #393b3c;
}

.active > .page-link {
  color: white !important;
  background-color: #d2481e !important;
}

.page-link:hover {
  color: white !important;
  background-color: #d2481e !important;
}

.page-link:focus {
  color: white !important;
  background-color: #d2481e !important;
  box-shadow: none;
}

/* ---------------------- */

@media (max-width: 1199.98px) {
  .headings {
    font-size: 32px !important;
  }
}

@media (max-width: 991.98px) {
  .headings {
    font-size: 28px !important;
  }
  .description {
    font-size: 14px;
  }
}

@media (max-width: 766.98px) {
  .headings {
    font-size: 24px !important;
  }
  .description {
    margin: 0 0 24px !important;
  }
  .getintuchbtn {
  
  padding: 6px;

 
  height: 35px;
  font-size: 15px;
 
}
}

@media (max-width: 576px) {
}
@media (max-width: 400px) {
}
