<section id="intro" class="position-relative">
    <!-- <carousel id="bgSlideShow" [noPause]="false" [isAnimated]="true" [showIndicators]="true"  >
        <slide >
          <img src="/imgs/bg1.jpg" alt="First slide" class="imgbg">
         
        </slide>
        <slide>
          <img src="/imgs/bg2.jpg" alt="Second slide" class="imgbg" >
         
        </slide>
        <slide>
          <img src="/imgs/bg3.jpg" alt="Third slide" class="imgbg">
         
        </slide>
        <slide>
            <img src="/imgs/bg4.jpg" alt="Fourth slide" class="imgbg">
           
          </slide>
          <slide>
            <img src="/imgs/bg5.jpg" alt="Fifth slide" class="imgbg">
           
          </slide>
      </carousel> -->
      <owl-carousel-o id="bgSlideShow" [options]="Owlhome1">
        <ng-template carouselSlide>
          <img src="/imgs/bg1.jpg" alt="First slide" class="imgbg">
         
        </ng-template>

        <ng-template carouselSlide>
          <img src="/imgs/bg2.jpg" alt="Second slide" class="imgbg" >
         
        </ng-template>

        <ng-template carouselSlide>
          <img src="/imgs/bg3.jpg" alt="Third slide" class="imgbg">
         
        </ng-template>

        <ng-template carouselSlide>
            <img src="/imgs/bg4.jpg" alt="Fourth slide" class="imgbg">
           
          </ng-template>

          <ng-template carouselSlide>
            <img src="/imgs/bg5.jpg" alt="Fifth slide" class="imgbg">
           
          </ng-template>

      </owl-carousel-o>

      <!-- <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>Slide 1</ng-template>  
        <ng-template carouselSlide>Slide 2</ng-template>  
        <ng-template carouselSlide>Slide 3</ng-template>  
      </owl-carousel-o> -->


    <!-- <div id="bgSlideShow" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/imgs/bg1.jpg" class="imgbg" alt="img" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="/imgs/bg2.jpg" class="imgbg" alt="img" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="/imgs/bg3.jpg" class="imgbg" alt="img" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="/imgs/bg4.jpg" class="imgbg" alt="img" loading="lazy">
            </div>
            <div class="carousel-item">
                <img src="/imgs/bg5.jpg" class="imgbg" alt="img" loading="lazy">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#bgSlideShow" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#bgSlideShow" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div> -->
    <div class="slidermenu">
        <div class="container z-1 position-relative">
            <img src="/imgs/imagesll (2).png" alt="" loading="lazy">
            <h2 class="slideheader">Lorem.</h2>
            <p class="text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ipsam animi nobis
                officia ad quae obcaecati. Suscipit alias asperiores veniam,<br> unde ad cumque corrupti
                necessitatibus beatae, cum at vitae. Voluptate.</p>
            <a class="btn btn-outline-borderclr introbtn" routerLink="/reservation">Book Your Table</a>
        </div>
    </div>

</section>


<!-- order -->

<section id="order" class="position-relative  ">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-sm-12 text-center">
                <h2 class="pt-5 headings">Order Delivery and take out</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                </div>
                <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                    corrupti dolore ut assumenda vero?</p>
            </div>
            <div class="col-sm-7 ">
                <form class=" m-3 text-center d-flex justify-content-center align-items-center gap-2">
                    <input class="" type="text" placeholder="Search Keyword">
                    <button class="Ordersearchbtn">SEARCH</button>
                </form>

                <ul class="list-inline text-center mt-5">
                    <li class="list-inline-item orderingfoodicons">
                        <p> <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                height="3em" width="3em" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M368 128h.09m111.46-32h-91.06l8.92-35.66 38.32-13.05c8.15-2.77 13-11.43 10.65-19.71a16 16 0 0 0-20.54-10.73l-47 16a16 16 0 0 0-10.36 11.27L355.51 96H224.45c-8.61 0-16 6.62-16.43 15.23A16 16 0 0 0 224 128h2.75l1 8.66A8.3 8.3 0 0 0 236 144c39 0 73.66 10.9 100.12 31.52A121.9 121.9 0 0 1 371 218.07a123.4 123.4 0 0 1 10.12 29.51 7.83 7.83 0 0 0 3.29 4.88 72 72 0 0 1 26.38 86.43 7.92 7.92 0 0 0-.15 5.53A96 96 0 0 1 416 376c0 22.34-7.6 43.63-21.4 59.95a80.12 80.12 0 0 1-28.78 21.67 8 8 0 0 0-4.21 4.37 108.19 108.19 0 0 1-17.37 29.86 2.5 2.5 0 0 0 1.9 4.11h49.21a48.22 48.22 0 0 0 47.85-44.14L477.4 128h2.6a16 16 0 0 0 16-16.77c-.42-8.61-7.84-15.23-16.45-15.23z">
                                </path>
                                <path
                                    d="M108.69 320a23.87 23.87 0 0 1 17 7l15.51 15.51a4 4 0 0 0 5.66 0L162.34 327a23.87 23.87 0 0 1 17-7h196.58a8 8 0 0 0 8.08-7.92V312a40.07 40.07 0 0 0-32-39.2c-.82-29.69-13-54.54-35.51-72C295.67 184.56 267.85 176 236 176h-72c-68.22 0-114.43 38.77-116 96.8A40.07 40.07 0 0 0 16 312a8 8 0 0 0 8 8zm77.25 32a8 8 0 0 0-5.66 2.34l-22.14 22.15a20 20 0 0 1-28.28 0l-22.14-22.15a8 8 0 0 0-5.66-2.34h-69.4a15.93 15.93 0 0 0-15.76 13.17A65.22 65.22 0 0 0 16 376c0 30.59 21.13 55.51 47.26 56 2.43 15.12 8.31 28.78 17.16 39.47C93.51 487.28 112.54 496 134 496h132c21.46 0 40.49-8.72 53.58-24.55 8.85-10.69 14.73-24.35 17.16-39.47 26.13-.47 47.26-25.39 47.26-56a65.22 65.22 0 0 0-.9-10.83A15.93 15.93 0 0 0 367.34 352z">
                                </path>
                            </svg></p>
                        <p class="fst-italic">Select Food</p>
                    </li>
                    <li class="list-inline-item orderingfoodicons">
                        <p class=""> <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                viewBox="0 0 512 512" height="3rem" width="3rem" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0 192c0-35.3 28.7-64 64-64c.5 0 1.1 0 1.6 0C73 91.5 105.3 64 144 64c15 0 29 4.1 40.9 11.2C198.2 49.6 225.1 32 256 32s57.8 17.6 71.1 43.2C339 68.1 353 64 368 64c38.7 0 71 27.5 78.4 64c.5 0 1.1 0 1.6 0c35.3 0 64 28.7 64 64c0 11.7-3.1 22.6-8.6 32H8.6C3.1 214.6 0 203.7 0 192zm0 91.4C0 268.3 12.3 256 27.4 256H484.6c15.1 0 27.4 12.3 27.4 27.4c0 70.5-44.4 130.7-106.7 154.1L403.5 452c-2 16-15.6 28-31.8 28H140.2c-16.1 0-29.8-12-31.8-28l-1.8-14.4C44.4 414.1 0 353.9 0 283.4z">
                                </path>
                            </svg></p>
                        <p class="fst-italic">Order Food</p>
                    </li>
                    <li class="list-inline-item orderingfoodicons">
                        <p class=""> <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24"
                                stroke-linecap="round" stroke-linejoin="round" height="3rem" width="3rem"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5"></path>
                                <path d="M3 9l4 0"></path>
                            </svg></p>

                        <p class="fst-italic">Dilivery or take out</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- </div> -->
</section>


<!-- popularDishes  (pd) -->

<section id="popularDishes" class="position-relative mb-5 ">
    <div class="container">
        <div class="row  justify-content-center">

            <div class="col-sm-12 text-center">
                <h2 class="pt-5 headings">Our Popular Dishes</h2>
                <div class="dividerimg">
                    <img src="/imgs/divider-5318234_1920.png" alt="">
                </div>
                <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                    doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                    corrupti dolore ut assumenda vero?</p>
            </div>
            <div class="col-sm-12">
                <!-- <div class="hidescrolbar "> -->
                <!-- <div class="cardcontainer  d-flex gap-3 mt-3"> -->
                <!-- <div class="owl-carousel">
                    <div class="item card pd-cardsize align-items-center justify-content-center">

                        <a href="#">
                            <img src="/imgs/pngegg(4).png" class="card-img-top" alt="img" loading="lazy">
                        </a>

                        <div class="card-body cardbodyBgClr p-3 ">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up
                                the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">

                        <a href="#">
                            <img src="/imgs/pngegg(2).png" class="card-img-top" alt="img" loading="lazy">
                        </a>

                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(3).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(4).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg.png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(1).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(2).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(3).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(4).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg.png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(1).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                    <div class="item card cardsize align-items-center justify-content-center">
                        <a href="#">
                            <img src="/imgs/pngegg(2).png" class="card-img-top" alt="img" loading="lazy">
                        </a>
                        <div class="card-body cardbodyBgClr p-3">
                            <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                            <p class="card-text text-center carddescrption">Some quick example text to build on
                                the card title and make up the bulk of the card's content.</p>
                            <p class="card-text text-center cardprice">100$</p>
                        </div>
                    </div>
                   
                </div> -->

                <owl-carousel-o id="bgSlideShow" [options]="Owlhome2">
                    <ng-template carouselSlide>
                      

                            <app-foodcard [isMenuCard]="false" [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Some quick example text to build on the card title and make up the bulk of the card content.',
                            '100$']" />
                        
                            <!-- <a href="#">
                                <img src="/imgs/pngegg(4).png" class="card-img-top" alt="img" loading="lazy">
                            </a>
    
                            <div class="card-body cardbodyBgClr p-3 ">
                                <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                                <p class="card-text text-center carddescrption">Some quick example text to build on
                                    the card title and make up
                                    the bulk of the card's content.</p>
                                <p class="card-text text-center cardprice">100$</p>
                            </div> -->
                        
                     
                    </ng-template>
            
                    <ng-template carouselSlide>
                        <div class="item card cardsize align-items-center justify-content-center">

                            <a href="#">
                                <img src="/imgs/pngegg(2).png" class="card-img-top" alt="img" loading="lazy">
                            </a>
    
                            <div class="card-body cardbodyBgClr p-3">
                                <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                                <p class="card-text text-center carddescrption">Some quick example text to build on
                                    the card title and make up the bulk of the card's content.</p>
                                <p class="card-text text-center cardprice">100$</p>
                            </div>
                        </div>
                     
                    </ng-template>

                    <ng-template carouselSlide>
                        <div class="item card cardsize align-items-center justify-content-center">
                            <a href="#">
                                <img src="/imgs/pngegg(3).png" class="card-img-top" alt="img" loading="lazy">
                            </a>
                            <div class="card-body cardbodyBgClr p-3">
                                <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                                <p class="card-text text-center carddescrption">Some quick example text to build on
                                    the card title and make up the bulk of the card's content.</p>
                                <p class="card-text text-center cardprice">100$</p>
                            </div>
                        </div>
                     
                    </ng-template>
            
                    <ng-template carouselSlide>
                        <div class="item card cardsize align-items-center justify-content-center">
                            <a href="#">
                                <img src="/imgs/pngegg.png" class="card-img-top" alt="img" loading="lazy">
                            </a>
                            <div class="card-body cardbodyBgClr p-3">
                                <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                                <p class="card-text text-center carddescrption">Some quick example text to build on
                                    the card title and make up the bulk of the card's content.</p>
                                <p class="card-text text-center cardprice">100$</p>
                            </div>
                        </div>
                     
                    </ng-template>
            
                    <ng-template carouselSlide>
                        <div class="item card cardsize align-items-center justify-content-center">
                            <a href="#">
                                <img src="/imgs/pngegg(1).png" class="card-img-top" alt="img" loading="lazy">
                            </a>
                            <div class="card-body cardbodyBgClr p-3">
                                <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                                <p class="card-text text-center carddescrption">Some quick example text to build on
                                    the card title and make up the bulk of the card's content.</p>
                                <p class="card-text text-center cardprice">100$</p>
                            </div>
                        </div>
                       
                      </ng-template>
            
                      <ng-template carouselSlide>
                        <div class="item card cardsize align-items-center justify-content-center">
                            <a href="#">
                                <img src="/imgs/pngegg(2).png" class="card-img-top" alt="img" loading="lazy">
                            </a>
                            <div class="card-body cardbodyBgClr p-3">
                                <h3 class="card-text text-center cardtitle m-3">Dish Name Here</h3>
                                <p class="card-text text-center carddescrption">Some quick example text to build on
                                    the card title and make up the bulk of the card's content.</p>
                                <p class="card-text text-center cardprice">100$</p>
                            </div>
                        </div>
                       
                      </ng-template>
            
                  </owl-carousel-o>


            </div>

        </div>
    </div>
</section>


<!-- ourMenu -->

<section id="ourMenu" class="position-relative bg-secondary-subtle ourMenuimgright g-0">
    <div class="ourMenuimgleft">
        <div class="container ">

            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headings">Our Menu</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>
                <!-- </div> -->
            </div>

            <div class="row justify-content-center">

                <div class="col-md-10">

                    <ul class="nav nav-pills justify-content-evenly p-3 bg-light m-3 " role="tablist">

                        <li class="nav-item ">
                            <button class="nav-link active hilight" id="all-tab" data-bs-toggle="tab"
                                data-bs-target="#all" type="button" role="tab" aria-controls="all"
                                aria-selected="true">ALL</button>
                            <!-- <a ></a> -->
                        </li>

                        <li class="nav-item ">
                            <button class="nav-link hilight" id="breakfast-tab" data-bs-toggle="tab"
                                data-bs-target="#breakfast" type="button" role="tab" aria-controls="breakfast-tab"
                                aria-selected="true">breakfast</button>
                            <!-- <a class=" text-dark nav-link hilight" href="#breakfast" data-toggle="tab">breakfast</a> -->
                        </li>

                        <li class="nav-item ">
                            <button class="nav-link hilight" id="lunch-tab" data-bs-toggle="tab" data-bs-target="#lunch"
                                type="button" role="tab" aria-controls="lunch" aria-selected="true">lunch</button>
                            <!-- <a class="  text-dark nav-link hilight" href="#lunch" data-toggle="tab">lunch</a> -->
                        </li>

                        <li class="nav-item ">
                            <button class="nav-link hilight" id="dinner-tab" data-bs-toggle="tab"
                                data-bs-target="#dinner" type="button" role="tab" aria-controls="dinner"
                                aria-selected="true">dinner</button>
                            <!-- <a class=" text-dark nav-link hilight" href="#dinner" data-toggle="tab">dinner</a> -->
                        </li>

                        <li class="nav-item ">
                            <button class="nav-link hilight" id="drinks-tab" data-bs-toggle="tab"
                                data-bs-target="#drinks" type="button" role="tab" aria-controls="drinks"
                                aria-selected="true">drinks</button>
                            <!-- <a class=" text-dark nav-link hilight " href="#drinks" data-toggle="tab">drinks</a> -->
                        </li>

                        <li class="nav-item ">
                            <button class="nav-link hilight" id="others-tab" data-bs-toggle="tab"
                                data-bs-target="#others" type="button" role="tab" aria-controls="others"
                                aria-selected="true">others</button>
                            <!-- <a class=" text-dark nav-link hilight" href="#others" data-toggle="tab">others</a> -->
                        </li>

                    </ul>
                </div>

                <div class="col-md-12 tab-content">

                    <div id="all" class="row tab-pane active" role="tabpanel" aria-labelledby="all-tab" tabindex="0">

                        <div class="col-6 my-3">
                            <app-foodcard [isMenuCard]="true" [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />
                        </div>

                        <div class="col-6 my-3">
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />
                        </div>

                        <div class="col-6 my-3">
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />
                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"   [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />
                        </div>

                        <div class="col-6 my-3">

                           <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                    </div>

                    <div id="breakfast" class="row tab-pane " role="tabpanel" aria-labelledby="breakfast" tabindex="0">

                        <div class="col-6 my-3">

                           <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                            
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                         
                            <app-foodcard [isMenuCard]="true"   [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>



                    </div>

                    <div id="lunch" class="row tab-pane " role="tabpanel" aria-labelledby="lunch-tab" tabindex="0">

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                           <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                    </div>

                    <div id="dinner" class="row tab-pane " role="tabpanel" aria-labelledby="dinner-tab" tabindex="0">

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />
                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                    </div>

                    <div id="drinks" class="row tab-pane " role="tabpanel" aria-labelledby="drinks-tab" tabindex="0">

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                           <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                           <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                    </div>

                    <div id="others" class="row tab-pane " role="tabpanel" aria-labelledby="others-tab" tabindex="0">

                        <div class="col-6 my-3">

                          <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                          
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                           
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(1).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(2).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">

                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(3).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>

                        <div class="col-6 my-3">
                            
                            <app-foodcard [isMenuCard]="true"  [fooddata]="['/imgs/pngegg(4).png', 'Dish Name Here',
                            'Cursus / Dictum / Risus',
                            'Lorem ipsum is simply dummy text of the printing and type setting industry.',
                            '100$']" />

                        </div>



                    </div>

                </div>

                <div class="col-md-12">
                    <div class="d-flex justify-content-center mt-5 pb-5">
                        <a class="btn menuViewbtn btn-lg " routerLink="/ourmenu">View More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>



<!-- Reservation -->
<app-booktable />

<!-- blogs -->

<section id="blogs" class="bg-dark-subtle  ourblogsimgright ">
    <div class="ourblogsimgleft">
        <div class="container pb-5">
            <div class="row  justify-content-center">

                <div class="col-sm-12 text-center">
                    <h2 class=" headings">Our Blog</h2>
                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?</p>
                </div>

                <div class="col-4 pt-2">
                    <app-blogscard [blogdata]="{ imgurl: '/imgs/blog img.jpg',
                    title: 'Blog Title Here',
                    ourblogdescrption: 'May 15, 2017 / By admin / 3 Comments',
                    carddescrption: 'Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                Nullam ultricies eu turpis at accumsan...',
                    link: ''}" />

                </div>

                <div class="col-4 pt-2">
                    <app-blogscard [blogdata]="{ imgurl: '/imgs/blog img.jpg',
                    title: 'Blog Title Here',
                    ourblogdescrption: 'May 15, 2017 / By admin / 3 Comments',
                    carddescrption: 'Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                Nullam ultricies eu turpis at accumsan...',
                    link: ''}" />
                </div>

                <div class="col-4 pt-2">
                    <app-blogscard [blogdata]="{ imgurl: '/imgs/blog img.jpg',
                    title: 'Blog Title Here',
                    ourblogdescrption: 'May 15, 2017 / By admin / 3 Comments',
                    carddescrption: 'Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nullam efficitur placerat nulla, in suscipit erat sodales id.
                                Nullam ultricies eu turpis at accumsan...',
                    link: ''}" />
                </div>

            </div>
        </div>
    </div>

    <!-- </div>s -->
</section>