
/* card */

.card-img-top {
  object-fit: contain;
  width: 100%;
  height: 100%;
 
}
.cardbodyBgClr {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.cardtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
}
.carddescrption {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.cardprice {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
}
.cardsize {
  width: 263px;
  height: auto;
}



/* menu card */
.ourmenucardimg {
  object-fit: contain;
  width: 130px;
  height: 150px;
  padding-right: 10px;
}

.ourmenucard {
  width:100%;
  height: auto;
  padding: 0px 13px 0px 16px;
}
.ourmenuPrice {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.menucardtitle {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-theme-color);
  line-height: 20px;
}

.menudescrption {
  margin-bottom: 15px;

  font-weight: 400;
  color: #757575;
  padding-right: 30px;
}

.menudescrptionsmall {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  margin: 0;
  line-height: 20px;
}

.bordr{
    border-left: 1px solid rgb(206, 206, 206);
  }

/* Our Chefs section*/

.ourchefscardsize {
  width: 100%;
  height: auto;
}

.ourchefscarddescrption {
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}



.scoial ul li {
  border-radius: 50%;
  transition: ease-in-out 0.5s all;
}
.scoial ul li:first-child:hover {
  background: #1d5add;
}

.scoial ul li:nth-child(2):hover {
  background: #1da1f3;
}

.scoial ul li:nth-child(3):hover {
  background: #ec20f7;
}

.scoial ul li:last-child:hover {
  background: red;
}



@media  (max-width:1199.98px) {
  .cardsize{
    width: 224px;
  }
  
}
@media  (max-width:991.98px) {
  .cardsize{
    width: 232px;
  }
  .cardprice{
  font-size:20px ;
}
    .menudescrption {

  font-size: 14px;
}
.ourmenucard{
    width: 100%;
    /* text-align: center !important; */
  }
  .ourmenucardimg{
    width: 100px;
  }
}
@media  (max-width:766.98px) {
.cardtitle{
  font-size: 16px;
}
.cardprice{
  font-size:18px ;
}
  .cardsize{
    width: 100%;
    /* text-align: center !important; */
  }
  .menudescrption {

  padding-right: 0px;
}
  .ourmenucardimg{
    width: 130px;
  }
  .ourmenuPrice{
    position: static;
  }
  .bordr{
    border: none;
  }
  
}
@media  (max-width:576px) {

}