
/* card */

.card-img-top {
  object-fit: fill;
  width: 100%;
  height: 180px;
}
.cardbodyBgClr {
  background: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.cardtitle {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
}
.carddescrption {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.cardprice {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
}
.cardsize {
  width: 263px;
  height: auto;
}



/* menu card */
.ourmenucardimg {
  object-fit: contain;
  width: 150px;
  height: 180px;
  padding-right: 10px;
}

.ourmenucard {
  width: 545px;
  height: auto;
  padding: 0px 13px 0px 16px;
}
.ourmenuPrice {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--main-theme-color);
  margin: 0;
  line-height: 20px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.menucardtitle {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-theme-color);
  line-height: 20px;
}

.menudescrption {
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 400;
  color: #757575;
  padding-right: 30px;
}

.menucarddescrption {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  margin: 0;
  line-height: 20px;
}


/* Our Chefs section*/

.ourchefscardsize {
  width: 260px;
  height: auto;
}

.ourchefscarddescrption {
  margin-bottom: 17px;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}



.scoial ul li {
  border-radius: 50%;
  transition: ease-in-out 0.5s all;
}
.scoial ul li:first-child:hover {
  background: #1d5add;
}

.scoial ul li:nth-child(2):hover {
  background: #1da1f3;
}

.scoial ul li:nth-child(3):hover {
  background: #ec20f7;
}

.scoial ul li:last-child:hover {
  background: red;
}