<app-title [title]="'Forget password'" [link]="'/home'"  [page1]="'Home'" [page2]="'Forget password'" />

<section id="login" class=" ourblogsimgright ">
    <div class="ourblogsimgleft">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class="pt-5 headings">Forgot Your Password</h2>
                  

                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 ms-5 me-5 mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
                        doloremque sapiente suscipit ipsam velit exercitationem um a nostrum fuga temporibus, sit,
                        corrupti dolore ut assumenda vero?
                    </p>

                </div>

                <div class="row  justify-content-center">

                    <div class="col-6 my-5">

                        <div class="forgetpassword my-3">
                           
                            <h3>What's My Password?</h3>
                            <p class="">If You Have a password? So <a class="text-decoration-none customclr1" routerLink="/login">login</a> And starts less than a minute </p>
                            <form action="/submit" method="post" class="row">

                           
                         
                                <div class="col-12 pb-1">
        
                                    <div class="input-group mb-3 position-relative">
                                        <span class="getintuchinputicon"><img src="/imgs/email.png" alt=""
                                                loading="lazy"></span>
                                        <input type="email" class="form-control text-start" id="email" placeholder="EMAIL"
                                            required>
                                    </div>
        
                                </div>
        
                         
        
                                <div class="col-5 text-center pt-3">
                                    <button class="btn getintuchbtn btn-md " type="submit">Get Password</button>
                                </div>
        
                            </form>
                          
                        </div>
                        
                    </div>
                 
                </div>

            </div>

        </div>
    </div>
   
</section>

<app-newsletter/>
<app-testimonal/>
