<app-title [title]="'Forget password'" [link]="'/home'"  [page1]="'Home'" [page2]="'Forget password'" />

<section id="login" class=" ourblogsimgright ">
    <div class="ourblogsimgleft">
        <div class="container">
            <div class="row  justify-content-center">
                <div class="col-sm-12 text-center">
                    <h2 class=" headingprimary">Forgot Your Password</h2>
                  

                    <div class="dividerimg">
                        <img src="/imgs/divider-5318234_1920.png" alt="" loading="lazy">
                    </div>
                    <p class="mt-0 description">No worries! Resetting your password is quick and easy. Enter your registered email, follow the instructions, and regain secure access to your account within moments.
                    </p>

                </div>

                <div class="row  justify-content-center">

                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 my-3">

                        <div class="forgetpassword ">
                           
                            <h3 class="headingsecondary">What's My Password?</h3>
                            <p class="px-3 colorgray">If You Have a password? So <a class="text-decoration-none colorprimary" routerLink="/login">login</a> And starts less than a minute </p>
                            <form action="/submit" method="post" class="row">

                           
                         
                                <div class="col-12 pb-1">
        
                                    <div class="input-group mb-3 position-relative">
                                        <span class="inputicon"><img src="/imgs/email.png" alt=""
                                                loading="lazy"></span>
                                        <input type="email" class="form-control text-start input" id="email" placeholder="EMAIL"
                                            required>
                                    </div>
        
                                </div>
        
                         
        
                                <div class="col-5 text-center pt-3">
                                    <button class="btn getintuchbtn btn-md " type="submit">Get Password</button>
                                </div>
        
                            </form>
                          
                        </div>
                        
                    </div>
                 
                </div>

            </div>

        </div>
    </div>
   
</section>

<app-newsletter/>
<app-testimonal/>
